* {
  box-sizing: border-box;
}

body {
background: rgb(248,255,157);
background: linear-gradient(90deg, rgba(248,255,157,1) 0%, rgba(148,233,211,1) 100%);
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
.container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-gap: 20px;
		}

		.artist {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.artist img {
			width: 100%;
			max-width: 200px;
			height: auto;
		}

		.artist h2 {
			margin-top: 10px;
			margin-bottom: 5px;
			font-size: 1.2rem;
			font-weight: bold;
		}

		.artist p {
			margin: 0;
			font-size: 0.9rem;
			color: #666;
		}